<div class="sidebar-heading">
    Pharmacy Manager
</div>

<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="ActiveIngredients">
        <i class="fas fa-fw fa-cog"></i>
        <span>Active Ingredients</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="DosageForms">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Dosage Forms</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Medications">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Medication</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Doctors">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Doctors</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Suppliers">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Supplier</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" asp-action="Index" asp-controller="Pharmacists">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Pharmacists</span>
    </a>


<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Stock">
        <i class="fas fa-fw fa-cog"></i>
        <span>Stock </span>
    </a>
</li>

<!-- Nav Item - Charts -->
<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Orders">
        <i class="fas fa-fw fa-cog"></i>
        <span> Orders</span>
    </a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Reports">
        <i class="fas fa-fw fa-table"></i>
        <span>Reports</span>
    </a>
</li>